<div class="mdl-card__title" style="background: url({{location.image}}) center/cover;">
    <h2 class="mdl-card__title-text">{{location.displayName}}</h2>
</div>
{{#each hours}}
    <div class="mdl-card__supporting-text mdl-grid">
        <div class="mdl-cell--6-col">
        <b>Opens:</b> {{time this.[0]}}
        </div>
        <div class="mdl-cell--6-col">
        <b>Closes:</b> {{time this.[1]}}
        </div>
    </div>
{{else}}
    <div class="mdl-card__supporting-text">
        <b>Not open today</b>
    </div>
{{/each}}